<!DOCTYPE html>
<html>
  <head>
    <title>AssignmentJumpstartBlogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Blogger', root_path %> |
      <%= link_to 'Blog Index', articles_path %>
    </nav>
    <p class="flash"><%= flash.notice %></p>
    <%= yield %>
<%= link_to "Create New Article", new_article_path, class: 'new_article' %>

  </body>
</html>
